* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(223, 149, 96);
    padding: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
}

.item {
    background-color: rgb(245, 228, 158);
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.content1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.content2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}